PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=desafio_afya
DATABASE_USER=msilva_afya
DATABASE_PASSWORD=msilva_afya_pass

SEED_USER_NAME=Usuário Para Testes
SEED_USER_EMAIL=user_teste@afya.com
SEED_USER_PASSWORD=123456

JWT_SECRET=defina-uma-chave-secreta
JWT_EXPIRES_IN=1h